<template>
  <div class="evkon-search">
    <!--autofocus-->
    <v-autocomplete
      v-model="model"
      :items="items"
      :loading="isLoading"
      :search-input.sync="search"
      class="elevation-4 evkon-autocomplete"
      flat
      solo
      dark
      hide-details
      solo-inverted
      color="white"
      hide-no-data
      hide-selected
      item-text="name"
      return-object
    />
  </div>
</template>

<script>
export default {
  name: 'EvkonSearch',

  props: {
    prepod: {
      type: Object,
      default: () => {
        return {
          mName: '',
          lName: '',
          fName: ''
        }
      }
    }
  },

  data: () => ({
    entries: [],
    isLoading: false,
    model: null,
    search: null
  }),

  computed: {
    items () {
      return this.entries.map(entry => {
        const name = `${entry.lName} ${entry.fName} ${entry.mName}`
        return Object.assign({}, entry, { name })
      })
    }
  },

  watch: {
    async model(val) {
      if (!val.URI) {
        this.model = null
        return
      }
      this.$emit('search-item-selected', this.model)
      this.$router.push({ name: 'prepod-id', params: { id: this.model.URI.match(/\d+/)[0] } })
      console.log(val);
    },
    async search(last_name) {
      if (last_name.length < 1) return
      // Items have already been loaded
      // if (this.items.length > 0) return

      // Items have already been requested
      if (this.isLoading) return

      this.isLoading = true

      try {
        this.entries = await this.$axios.$post(
          'https://weresknrg.pythonanywhere.com/api/professors/search',
          { last_name }
        )
      } catch (e) {
        console.error('cannot load')
      }


      this.isLoading = false
    }
  },

  mounted() {
    if (this.prepod.mName !== '') {
      // setTimeout(() => {
      //   this.search = `hui`
      // }, 2000)
      // this.search = `hui`
    }
  },
}
</script>

<style scoped>
.v-input__append-inner {
  display: none;
}
</style>

<style>
.evkon-autocomplete input {
  caret-color: #000 !important;
  color: #000 !important;
}
</style>
