<template>
  <v-app>
    <!--v-if="$route.name !== 'search'"-->
    <v-toolbar
      fixed
      app
    >
      <nuxt-link to="/"><v-toolbar-title v-text="title"/></nuxt-link>
    </v-toolbar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    data() {
      return {
        title: 'PrepodSearch'
      }
    }
  }
</script>

<style>
.v-toolbar__content a {
  text-decoration: none;
}
</style>
