<template>
  <div class="search">
    <!--<evkon-search @search-item-selected="onSearchItemSelected" />-->
    <!--<evkon-search />-->
    <v-card class="mb-3">
      <v-card-text>
        <evkon-search />
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
  import EvkonSearch from '@/components/EvkonSearch'

  export default {
    name: 'IndexPage',
    components: {
      EvkonSearch
    },
    // data() {
    //   return {
    //     prepod: null
    //   }
    // },
    // methods: {
    //   onSearchItemSelected(item) {
    //     this.prepod = item
    //     // this.$router.push({ name: 'prepod-id', params: { id: this.prepod.URI.match(/\d+/)[0] } })
    //   },
    // }
  }
</script>

<style>

</style>
