<template>
  <div
    v-if="prepod !== null"
    class="prepod"
  >

    <v-card class="mb-3">
      <v-card-text>
        <evkon-search :prepod="prepod" />
      </v-card-text>
    </v-card>

    <v-card>
      <v-card-title primary-title><div class="headline">{{ prepod.lName }} {{ prepod.fName }} {{ prepod.mName }}</div></v-card-title>
      <v-card-text>
        <v-tabs
          v-model="activeTab"
          fixed-tabs
        >
          <v-tab
            v-for="week in Object.keys(prepod.data)"
            :key="week"
            ripple
          >
            {{ week }}
          </v-tab>
          <v-tab-item
            v-for="week in Object.keys(prepod.data)"
            :key="week"
          >
            <v-card flat>
              <v-expansion-panel
                v-model="panel"
                expand
              >
                <v-expansion-panel-content
                  v-for="(day,i) in Object.keys(prepod.data[week])"
                  :key="i"
                >
                  <div slot="header">{{ day }}</div>
                  <v-card>
                    <v-card-text>
                      <!--<pre>{{ prepod.data[week][day] }}</pre>-->
                      <v-data-table
                        :headers="headers"
                        :items="prepod.data[week][day]"
                        hide-actions
                        hide-headers
                      >
                        <template
                          slot="items"
                          slot-scope="props"
                        >
                          <td>{{ props.item.title }}</td>
                          <td>{{ props.item.sTime }}-{{ props.item.eTime }}</td>
                          <td>{{ props.item.classroom }} {{ props.item.campus }}</td>
                          <td>{{ props.item.groups.join(', ') }}</td>
                          <td>{{ props.item.subject_type }}</td>
                        </template>
                      </v-data-table>
                    </v-card-text>
                  </v-card>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card-text>
    </v-card>


  </div>
</template>

<script>
import EvkonSearch from '@/components/EvkonSearch'

export default {
  validate ({ params }) {
    return /^\d+$/.test(params.id)
  },

  name: 'PrepodPage',
  components: {
    EvkonSearch
  },

  data() {
    return {
      panel: [],
      items: 5,
      activeTab: 0,
      prepod: null,
      headers: [
        {
          text: 'Предмет',
          align: 'left',
          sortable: false,
          value: 'title'
        },
        {
          text: 'Время',
          align: 'left',
          sortable: false,
          value: 'time'
        },
        {
          text: 'Аудитория',
          align: 'left',
          sortable: false,
          value: 'class'
        },
        {
          text: 'Группа',
          align: 'left',
          sortable: false,
          value: 'group'
        },
        {
          text: 'Тип',
          align: 'left',
          sortable: false,
          value: 'type'
        },
      ]
    }
  },

  async mounted() {
    this.prepod = await this.$axios.$post('https://weresknrg.pythonanywhere.com/api/professors/' + this.$route.params.id)
  }
}
</script>

<style scoped>

</style>
